﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Other */
.nextBlock {
    margin-top: 15px;
}
/* Chat */
#chatContainer #chatContent {
    background-color: #F3F3F3;
    padding: 10px 0px;
    border: 1px solid #F9F9F9;
    border-radius: 6px;
}
#chatContainer #chatContent ul {
    margin-top: -5px;
}

#chatContainer #chatContent li {
    padding: 5px 0px;
    border-bottom: 1px solid #B6B6B6;
}

/* Chess Game */
#chessGameContainer #chessGameContent {
    position: relative;
}
#chessGameContainer .overlay {
    position: absolute;
    background-color: #535353;
    opacity: 0.7;
    z-index: 1;
}

/* Teaminfo */
#teamInfo h2 {
    margin: 0px;
    padding-bottom: 10px;
}
#teamInfo #teamWhite, #teamInfo #teamBlack {
    padding: 10px 0px;   
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 1px #000000;
}
#teamInfo #teamWhite {
    background-color: #f4dcbb;
    border: 1px solid #FAECD9;
    color: #fff;
    text-shadow: 1px 1px #000000;
    
}
#teamInfo #teamBlack {
    background-color: #462619;
    border: 1px solid #A37969;
}

/* Tiles */
.white-Tile {
    background-color: #F4DCBB;
}
.brown-Tile {
    background-color: #462619;
}
.col-md-1-5 {
    min-height: 75px;
    position: relative;
    -webkit-transition: background-color 500ms linear, border 250ms ease;
    -moz-transition: background-color 500ms linear, border 250ms ease;
    -o-transition: background-color 500ms linear, border 250ms ease;
    -ms-transition: background-color 500ms linear, border 250ms ease;
    transition: background-color 500ms linear, border 250ms ease;
}
 .col-md-1-5 > span {
       background-repeat: no-repeat;
       margin: auto;
       position: absolute;
       left: -5%;
       top: 0; left: 0; bottom: 0; right: 0;
       width: 64px;
       height: 64px;
 }

 .col-md-1-5:hover {
     cursor: pointer;
 }
 .col-md-1-5.white-Tile:hover, .col-md-1-5.white-Tile.active {
     background-color: #B7A997;
     border: 4px inset #898177;
 }
 .col-md-1-5.brown-Tile:hover, .col-md-1-5.brown-Tile.active {
     background-color: #35221B;
     border: 4px inset #2E1308;
 }

@media (min-width: 992px) {
  .col-md-1-5 {
      min-height: 100px !important;
  }
}
@media (max-width: 768px) {
 .col-md-1-5 {
     min-height: 55px !important;
  }
}
@media (max-width: 400px) {
    .col-md-1-5 {
        min-height: 35px !important;
    }
}

/* Chess Icons */

/* White */
.White-Koning {
    background-image: url(Images/Wit/Koning.png);
}
.White-Koningin {
    background-image: url(Images/Wit/Koninging.png);
}
.White-Loper {
    background-image: url(Images/Wit/Loper.png);
}
.White-Paard {
    background-image: url(Images/Wit/Paard.png);
}
.White-Pion {
    background-image: url(Images/Wit/Pion.png);
}
.White-Toren {
    background-image: url(Images/Wit/Toren.png);
}

/* Black */
.Black-Koning {
    background-image: url(Images/Zwart/Koning.png);
}
.Black-Koningin {
    background-image: url(Images/Zwart/Koninging.png);
}
.Black-Loper {
    background-image: url(Images/Zwart/Loper.png);
}
.Black-Paard {
    background-image: url(Images/Zwart/Paard.png);
}
.Black-Pion {
    background-image: url(Images/Zwart/Pion.png);   
}
.Black-Toren {
    background-image: url(Images/Zwart/Toren.png);
}


/* Bootstrap */
.col-md-1-5 {
    float: left;
    width: 12.5%;
}
