﻿@model ChessSignalR.Models.Game.BundleGameModel

@{
    ViewBag.Title = "Index";
}

<div id="chessGameContainer" class="row">

    <div class="overlay"></div>

    <!-- First Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 white-Tile" id="1A">
            <span class="Black-Toren" id="B9"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="1B">
            <span class="Black-Paard" id="B10"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="1C">
            <span class="Black-Loper" id="B11"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="1D">
            <span class="Black-Koningin" id="B12"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="1E">
            <span class="Black-Koning" id="B13"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="1F">
            <span class="Black-Loper" id="B14"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="1G">
            <span class="Black-Paard" id="B15"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="1H">
            <span class="Black-Toren" id="B16"></span>
        </div>
    </div>

    <!-- Second Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 brown-Tile" id="2A">
            <span class="Black-Pion" id="B1"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="2B">
            <span class="Black-Pion" id="B2"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="2C">
            <span class="Black-Pion" id="B3"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="2D">
            <span class="Black-Pion" id="B4"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="2E">
            <span class="Black-Pion" id="B5"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="2F">
            <span class="Black-Pion" id="B6"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="2G">
            <span class="Black-Pion" id="B7"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="2H">
            <span class="Black-Pion" id="B8"></span>
        </div>
    </div>

    <!-- Third Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 white-Tile" id="3A"></div>
        <div class="col-md-1-5 brown-Tile" id="3B"></div>
        <div class="col-md-1-5 white-Tile" id="3C"></div>
        <div class="col-md-1-5 brown-Tile" id="3D"></div>
        <div class="col-md-1-5 white-Tile" id="3E"></div>
        <div class="col-md-1-5 brown-Tile" id="3F"></div>
        <div class="col-md-1-5 white-Tile" id="3G"></div>
        <div class="col-md-1-5 brown-Tile" id="3H"></div>
    </div>

    <!-- Fourth Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 brown-Tile" id="4A"></div>
        <div class="col-md-1-5 white-Tile" id="4B"></div>
        <div class="col-md-1-5 brown-Tile" id="4C"></div>
        <div class="col-md-1-5 white-Tile" id="4D"></div>
        <div class="col-md-1-5 brown-Tile" id="4E"></div>
        <div class="col-md-1-5 white-Tile" id="4F"></div>
        <div class="col-md-1-5 brown-Tile" id="4G"></div>
        <div class="col-md-1-5 white-Tile" id="4G"></div>
    </div>

    <!-- Fifth Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 white-Tile" id="5A"></div>
        <div class="col-md-1-5 brown-Tile" id="5B"></div>
        <div class="col-md-1-5 white-Tile" id="5C"></div>
        <div class="col-md-1-5 brown-Tile" id="5D"></div>
        <div class="col-md-1-5 white-Tile" id="5E"></div>
        <div class="col-md-1-5 brown-Tile" id="5F"></div>
        <div class="col-md-1-5 white-Tile" id="5G"></div>
        <div class="col-md-1-5 brown-Tile" id="5H"></div>
    </div>

    <!-- Sixth Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 brown-Tile" id="6A"></div>
        <div class="col-md-1-5 white-Tile" id="6B"></div>
        <div class="col-md-1-5 brown-Tile" id="6C"></div>
        <div class="col-md-1-5 white-Tile" id="6D"></div>
        <div class="col-md-1-5 brown-Tile" id="6E"></div>
        <div class="col-md-1-5 white-Tile" id="6F"></div>
        <div class="col-md-1-5 brown-Tile" id="6G"></div>
        <div class="col-md-1-5 white-Tile" id="6H"></div>
    </div>

    <!-- Seventh Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 white-Tile" id="7A">
            <span class="White-Pion" id="W1"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="7B">
            <span class="White-Pion" id="W2"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="7C">
            <span class="White-Pion" id="W3"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="7D">
            <span class="White-Pion" id="W4"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="7E">
            <span class="White-Pion" id="W5"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="7F">
            <span class="White-Pion" id="W6"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="7G">
            <span class="White-Pion" id="W7"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="7H">
            <span class="White-Pion" id="W8"></span>
        </div>
    </div>

    <!-- Eight Row -->
    <div class="col-md-12">
        <div class="col-md-1-5 brown-Tile" id="8A">
            <span class="White-Toren" id="W9"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="8B">
            <span class="White-Paard" id="W10"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="8C">
            <span class="White-Loper" id="W11"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="8D">
            <span class="White-Koningin" id="W12"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="8E">
            <span class="White-Koning" id="W13"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="8F">
            <span class="White-Loper" id="W14"></span>
        </div>
        <div class="col-md-1-5 brown-Tile" id="8G">
            <span class="White-Paard" id="W15"></span>
        </div>
        <div class="col-md-1-5 white-Tile" id="8H">
            <span class="White-Toren" id="W16"></span>
        </div>
    </div>
</div>
<div id="teamInfo" class="nextBlock">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="row">

                <!-- Team wit -->
                <div class="col-md-6 col-xs-6">
                    <div id="teamWhite">

                        <div class="col-md-12 col-xs-12">
                            <h2>Wit</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-2 col-xs-2">
                                    <b>Naam:</b>
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <span id="name"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Team zwart -->
                <div class="col-md-6 col-xs-6">
                    <div id="teamBlack">

                        <div class="col-md-12 col-xs-12">
                            <h2>Zwart</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-2">
                                    <b>Naam:</b>
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <span id="name">--</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chat -->
<div id="chatContainer" class="col-md-12 col-xs-12 nextBlock">

    <div class="row" id="chatContent">
        <fieldset id="chatFieldset">
            <div class="col-md-3 col-xs-4">
                <input type="text" id="message" class="form-control" />
            </div>
            <div class="col-md-2 col-xs-2">
                <input type="button" id="sendmessage" value="Verzend bericht!" class="btn btn-block btn-info" />
            </div>
            <div class="col-md-7 col-xs-6">
                <ul id="chat"></ul>
            </div>
        </fieldset>
    </div>
</div>


<div id="infoGame">
    <!-- Send new move -->
    @Html.HiddenFor(m => m.MoveModel.PieceId)
    @Html.HiddenFor(m => m.MoveModel.ToPosition)

    <!-- Available Id for chess pieces -->
    @Html.Hidden("ChessIds")

    <!-- ConnectionId -->
    @Html.Hidden("ConnectionId")
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Game/Game.js")"></script>
    <script src="~/Scripts/Jquery-animate.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.3.min.js")"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@Url.Content("~/signalr/hubs")"></script>
}


